<h3> Catalog </h3>

<div class="list row">
    <ul>
        <li *ngFor="let category of categories"> <a [routerLink]="['/catalog', category.id]"> {{category.name}} </a> </li>
    </ul>
    <!-- <product-card *ngFor="let item of products" [product]="item" [qty]="cartQty[item.id]"
        [routerLink]="['/catalog', item.id]" (onInc)="incrementQty(item.id)" (onDec)="decrementQty(item.id)">
    </product-card> -->
</div>
<button type="button" (click)="emit()"> EMIT </button>

<label> {{qty}} введено </label>
<input [style.padding.px]="12" type="text" (input)="search($event)" placeholder="Введите что-нибудь для поиска...">